In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# importing title ratings from imdb.tsv file
rating_df = pd.read_csv("resources/title.ratings.tsv", sep='\t')
rating_df.sort_values('averageRating', ascending=False)

            tconst  averageRating  numVotes
974523   tt4758048           10.0         6
971431   tt4705894           10.0         5
970900   tt4698930           10.0         6
970891   tt4698836           10.0         6
970887   tt4698822           10.0         7
...            ...            ...       ...
1054681  tt6105420            1.0       101
1086137  tt6698638            1.0        29
664716   tt1485655            1.0        13
529896   tt1164701            1.0         7
783443   tt2100624            1.0       458

[1211070 rows x 3 columns]

In [3]:
# importing basic information from imbd.tsv file

basics_df = pd.read_csv("resources/title.basic.tsv", sep='\t', low_memory=False)
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
# checking the different variables in titleType so we can filter and just recieve the movie data

basics_df['titleType'].unique()

array(['short', 'movie', 'tvEpisode', 'tvSeries', 'tvShort', 'tvMovie',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [5]:
# filtering the data

filtered_df = basics_df.loc[basics_df['titleType'] == 'movie']
filtered_df.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
729,tt0000739,movie,El pastorcito de Torrente,El pastorcito de Torrente,0,1908,\N,\N,Drama
783,tt0000793,movie,Andreas Hofer,Andreas Hofer,0,1909,\N,\N,Drama
804,tt0000814,movie,La bocana de Mar Chica,La bocana de Mar Chica,0,1909,\N,\N,\N
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N,\N
832,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,0,1909,\N,\N,\N
836,tt0000846,movie,Un dÃ­a en Xochimilco,Un dÃ­a en Xochimilco,0,1909,\N,\N,\N
840,tt0000850,movie,Los dos hermanos,Los dos hermanos,0,1909,\N,\N,\N
849,tt0000859,movie,FabricaciÃ³n del corcho en Sant Feliu de Guixols,FabricaciÃ³n del corcho en Sant Feliu de Guixols,0,1909,\N,\N,\N
852,tt0000862,movie,Faldgruben,Faldgruben,0,1909,\N,\N,\N
857,tt0000867,movie,Fiesta de toros,Fiesta de toros,0,1909,\N,\N,\N
858,tt0000868,movie,Fiestas de Santa LucÃ­a - Belenes,Fiestas de Santa LucÃ­a - Belenes,0,1909,\N,\N,\N
859,tt0000869,movie,Fiestas en La Garriga,Fiestas en La Garriga,0,1909,\N,\N,\N
869,tt0000879,movie,Gira polÃ­tica de Madero y Pino SuÃ¡rez,Gira polÃ­tica de Madero y Pino SuÃ¡rez,0,1909,\N,\N,\N

In [6]:
# merging the two dataframes on the tconst column

merged_data = pd.merge(rating_df, filtered_df, on="tconst", how="left")
merged_data.head(20)

# null values are recieved for many values as we are unable to filter by movie on the ratings table

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,5.7,1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000002,6.0,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0000003,6.5,1621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000004,6.0,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000005,6.2,2449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0000006,5.2,162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,tt0000007,5.4,761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,tt0000008,5.5,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,tt0000009,5.9,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0000010,6.9,6697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0000011,5.2,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,tt0000012,7.5,11490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,tt0000013,5.8,1772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0000014,7.1,5161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0000015,6.2,974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,tt0000016,5.9,1371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,tt0000017,4.6,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,tt0000018,5.3,556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,tt0000019,5.2,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,tt0000020,4.9,327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# dropping the null values, so we only have the data for movies

clean_data = merged_data.dropna()

In [8]:
# sorting the data by number of votes

rating_clean_data = clean_data.sort_values('numVotes', ascending=False)
rating_clean_data.head(20)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
82428,tt0111161,9.3,2536461,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
250189,tt0468569,9.0,2486973,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
623125,tt1375666,8.8,2228680,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
98961,tt0137523,8.8,1996157,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
81335,tt0109830,8.8,1957578,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
82212,tt0110912,8.9,1952890,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
96780,tt0133093,8.7,1830941,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
90218,tt0120737,8.8,1771272,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
114196,tt0167260,8.9,1749747,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
46156,tt0068646,9.2,1745695,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
395325,tt0816692,8.6,1682038,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi"
610630,tt1345836,8.4,1613447,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Crime,Drama"
114197,tt0167261,8.7,1580921,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama"
84980,tt0114369,8.6,1556174,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery"
750056,tt1853728,8.4,1466494,movie,Django Unchained,Django Unchained,0,2012,\N,165,"Drama,Western"
116665,tt0172495,8.5,1431491,movie,Gladiator,Gladiator,0,2000,\N,155,"Action,Adventure,Drama"
209798,tt0372784,8.2,1389287,movie,Batman Begins,Batman Begins,0,2005,\N,140,"Action,Crime,Drama"
204654,tt0361748,8.3,1368426,movie,Inglourious Basterds,Inglourious Basterds,0,2009,\N,153,"Adventure,Drama,War"
75616,tt0102926,8.6,1363309,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,"Crime,Drama,Horror"
406269,tt0848228,8.0,1335933,movie,The Avengers,The Avengers,0,2012,\N,143,"Action,Adventure,Sci-Fi"

In [9]:
# resetting index

sorted_data = rating_clean_data.reset_index()
sorted_data.head(20)

,index,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,82428,tt0111161,9.3,2536461,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,250189,tt0468569,9.0,2486973,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,623125,tt1375666,8.8,2228680,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,98961,tt0137523,8.8,1996157,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,81335,tt0109830,8.8,1957578,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
5,82212,tt0110912,8.9,1952890,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
6,96780,tt0133093,8.7,1830941,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
7,90218,tt0120737,8.8,1771272,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
8,114196,tt0167260,8.9,1749747,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
9,46156,tt0068646,9.2,1745695,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
10,395325,tt0816692,8.6,1682038,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi"
11,610630,tt1345836,8.4,1613447,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Crime,Drama"
12,114197,tt0167261,8.7,1580921,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama"
13,84980,tt0114369,8.6,1556174,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery"
14,750056,tt1853728,8.4,1466494,movie,Django Unchained,Django Unchained,0,2012,\N,165,"Drama,Western"
15,116665,tt0172495,8.5,1431491,movie,Gladiator,Gladiator,0,2000,\N,155,"Action,Adventure,Drama"
16,209798,tt0372784,8.2,1389287,movie,Batman Begins,Batman Begins,0,2005,\N,140,"Action,Crime,Drama"
17,204654,tt0361748,8.3,1368426,movie,Inglourious Basterds,Inglourious Basterds,0,2009,\N,153,"Adventure,Drama,War"
18,75616,tt0102926,8.6,1363309,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,"Crime,Drama,Horror"
19,406269,tt0848228,8.0,1335933,movie,The Avengers,The Avengers,0,2012,\N,143,"Action,Adventure,Sci-Fi"

In [10]:
# taking the columns we need and renaming them for ease of use

sorted_data1 = sorted_data[['averageRating', 'numVotes', 'primaryTitle']]
rename_df = sorted_data1.rename(columns={'primaryTitle': 'Title', 'averageRating': 'Movie Rating', 'numVotes': 'User Votes'})
rename_df.head(20)

,Movie Rating,User Votes,Title
0,9.3,2536461,The Shawshank Redemption
1,9.0,2486973,The Dark Knight
2,8.8,2228680,Inception
3,8.8,1996157,Fight Club
4,8.8,1957578,Forrest Gump
5,8.9,1952890,Pulp Fiction
6,8.7,1830941,The Matrix
7,8.8,1771272,The Lord of the Rings: The Fellowship of the Ring
8,8.9,1749747,The Lord of the Rings: The Return of the King
9,9.2,1745695,The Godfather
10,8.6,1682038,Interstellar
11,8.4,1613447,The Dark Knight Rises
12,8.7,1580921,The Lord of the Rings: The Two Towers
13,8.6,1556174,Se7en
14,8.4,1466494,Django Unchained
15,8.5,1431491,Gladiator
16,8.2,1389287,Batman Begins
17,8.3,1368426,Inglourious Basterds
18,8.6,1363309,The Silence of the Lambs
19,8.0,1335933,The Avengers

In [15]:
rename_df.to_csv('imdb_data.csv', index=False)